.board-table{
    width: 198px;
    height: 198px;
    display: flex;
    flex-wrap: wrap;
    .square {
        min-width: 60px;
        min-height: 60px;
        background: #9abf9a;
        margin: 3px;
        font-size: 25px;
        color: white;
    }
}
